<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">IB Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#" [routerLinkActive]="'active'" [routerLink]="['home']">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="formActive" [routerLink]="['form']">Créer un article</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['contact']">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['admin']">Admin</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" routerLinkActive="active" [routerLink]="['azertyyuiop']">AZERTYUIOP</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <h1>Bienvenue sur IB Blog !</h1>
  <router-outlet></router-outlet>
</div>